@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root{
  --dark : #0E1630;
  --light: #808DAD;
  --red: #EB4A4A;
  --white: #fff;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background: var(--dark);
}
ul.navbar-nav li.nav-item a.nav-link {
  color: var(--light);
  margin: 0px 10px;
  padding: 0px 15px;
}
ul.navbar-nav.main-menu li.nav-item a.nav-link:after {
  content: "";
  border-bottom:2px solid var(--red);
  width:0px;
  display:block;
  transition: width .5s ease;
}
ul.navbar-nav.main-menu li.nav-item a.nav-link:hover {
  color: var(--red);
}
ul.navbar-nav.main-menu li.nav-item a.nav-link:hover:after {
  width:100%;
}
ul.navbar-nav.main-menu li.nav-item:last-child a.nav-link{
  cursor: default;
}
ul.navbar-nav.main-menu li.nav-item:last-child a.nav-link:hover {
  color: var(--light);
}
ul.navbar-nav.main-menu li.nav-item:last-child a.nav-link:hover:after {
  width:0px;
}
ul.navbar-nav.main-menu li.nav-item.active a.nav-link {
  color: var(--red);
}
ul.navbar-nav.main-menu li.nav-item.active a.nav-link:after {
  content: "";
  border-bottom:2px solid var(--red);
  width:100%;
  display:block;
}
ul.navbar-nav.phone li.nav-item a.nav-link {
  color: var(--red);
}
ul.navbar-nav li.nav-item a.nav-link i.fa.fa-phone {
  color: var(--light);
}
ul.navbar-nav.phone li.nav-item a.nav-link:hover {
  color: var(--light);
}
/* Home Landing screen starts here*/
.home-landing .straight-bubble div:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px solid;
  margin: 10px;
  border: 1px solid var(--light);
  opacity: 0.1;
}
.home-landing .straight-bubble:before {
  content: '';
  position: absolute;
  width: 75px;
  height: 75px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px solid;
  border: 2px solid var(--red);
  opacity: 0.1;
  top: 0;
  transform: translate(100%, 50%);
  left: 0;
}
.home-landing .double-bubble div.one:before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 35px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px solid;
  border: 3px solid var(--red);
  opacity: 0.5;
}
.home-landing .double-bubble div.two:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px solid;
  margin: 30px 0px;
  border: 3px solid var(--light);
  opacity: 0.5;
}
.home-landing span.hello{
  line-height: 0.1em;
  margin: 10px 0 20px; 
  color: var(--light);
  font-size: 20px;
}
span.hello.font-weight-bold:before {
  color: var(--red);
  content: "";
  display: inline-block;
  border: 1px solid var(--red);
  width: 30px;
  margin: 5px auto;
  margin-right: 5px;
}
.home-landing h1.title{
  font-size: 50px;
  color: var(--white);
  letter-spacing: 5px;
  text-transform: uppercase;
}
.home-landing .designation{
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--light);
  text-transform: uppercase;
}
.button{
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 5px;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 600;
}
.button:hover{
  color: var(--white);
  text-decoration: none;
  background: var(--red);
  transition: ease-in-out 0.5s;
}
.home-landing .landing-cta .download-cv{
  color: var(--red);
  font-weight: 600;
  text-decoration: underline;
}
.home-landing .landing-image figure img{
  border-radius: 50px 0px 0px 0px;
  border: 10px solid var(--light);
}