@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root{
  --dark : #0E1630;
  --light: #808DAD;
  --red: #EB4A4A;
  --white: #fff;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background: var(--dark);
}
ul.navbar-nav li.nav-item a.nav-link {
  color: var(--light);
  margin: 0px 10px;
  padding: 0px 15px;
}
ul.navbar-nav.main-menu li.nav-item a.nav-link:after {
  content: "";
  border-bottom:2px solid var(--red);
  width:0px;
  display:block;
  transition: width .5s ease;
}
ul.navbar-nav.main-menu li.nav-item a.nav-link:hover {
  color: var(--red);
}
ul.navbar-nav.main-menu li.nav-item a.nav-link:hover:after {
  width:100%;
}
ul.navbar-nav.main-menu li.nav-item:last-child a.nav-link{
  cursor: default;
}
ul.navbar-nav.main-menu li.nav-item:last-child a.nav-link:hover {
  color: var(--light);
}
ul.navbar-nav.main-menu li.nav-item:last-child a.nav-link:hover:after {
  width:0px;
}
ul.navbar-nav.main-menu li.nav-item.active a.nav-link {
  color: var(--red);
}
ul.navbar-nav.main-menu li.nav-item.active a.nav-link:after {
  content: "";
  border-bottom:2px solid var(--red);
  width:100%;
  display:block;
}
ul.navbar-nav.phone li.nav-item a.nav-link {
  color: var(--red);
}
ul.navbar-nav li.nav-item a.nav-link i.fa.fa-phone {
  color: var(--light);
}
ul.navbar-nav.phone li.nav-item a.nav-link:hover {
  color: var(--light);
}